@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&family=Source+Sans+Pro&display=swap');

body{
    background-color: #4e4e50;
    color: white;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.heading,h2{
  font-family: 'Roboto Slab', serif;
}

.heading{
  display:flex;
  align-items: center;
  justify-content: center;
 }

/* Navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    background-color: #6f2232;
    border-radius: 5px;
    
  }
  
  .navbar li {
    float:left;
  }
  
  .navbar li a {
    font-family: 'Lato', sans-serif;
    /* font-weight: bold; */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    /* background-color: #42b4db; */
    background-color: #c3073f;
  }


  /* Layout for each section */

  .section{
    /* background-color: #1A1A1D; */
    margin:10px 0px;
    border-radius: 5px;
    background-image: url(./images/bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }


  /* Profile Section */

  .profile{
    /* margin: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    flex-wrap: wrap;
    
  }

  .profile-item{
    margin :50px auto;
    /* width: 400px;  */
    font-family: 'Roboto Slab', serif;
  }

  .myimg{
    
    max-height: 400px;
    border-radius: 50%;
    border: 5px solid #c3073f;
    
  }
  .name{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
    /* color: rgb(51, 51, 51); */
  }

  .social-icon{
    width: 50px;
    height: 50px;
  }
  .social-icon:hover{
    /* background-color: #c3073f; */
    opacity: 0.5;
  }

   .profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 250px;
  }
  
   .profile li {
    padding: 2px;
    float:left;
    margin: auto auto auto 0;
  }


  /* Academic Record Section */
 
  .record-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .record-box{
    margin: 0px auto 50px auto;
    width: 350px;
  }

  .record-box ul{
    margin-top: 30px;
    height: 200px;
   /* width: 100%; */
    list-style-type: none;
    background-color: #4e4e50;
    border: 2px solid white;
    border-radius: 5px;

    /* align-items: center; */
  }
  
  .record-box li{
    /* margin: 10px; */
    padding: 10px;
  }

  .record-box a{
    color: white;
    /* text-decoration: none; */
  }

  .record-box a:hover{
    color: #c3073f;
  }
  .projects-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }


  /* Projects Section */

  .project-box{
    background-color: #6f2232;
    width: 400px;
    height: 300px;
    margin:30px auto 50px auto;
    border: 3px solid  #c3073f;
    border-radius: 10px;
    text-align: center;
  }
  .project-title{
    margin-left: 0px auto;
    display: flex;
    justify-content: center;

  }
  .project-description{
    margin:0px 20px;
  }

  .project-button{
    margin: 20px;
    width: 80px;
    height: 35px;
    background-color: #c3073f;
    border: 1px solid white;
    border-radius: 5px;
    
  }

  .project-button:hover{
    background-color: #4e4e50;
  }

  .project-button a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
  }


  /* Time Table section */


  .timetable-section{
    height:600px

    
  }


  .timetable {
    width: 90%;
  
    background-color: #6f2232;
    height: 200px;
    border: 2px solid ;
    margin: 150px auto;   ;
  }



  .timetable td{
    border: 1px solid;
  }
  /* Videos Section */

  .video-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .video-box{
    margin:30px auto 50px auto;
  }

  .video-title{
    margin-left: 0px auto;
    display: flex;
    justify-content: center;
  }

  iframe{
    border: 2px solid #c3073f;
  }
  /* Footer Section */

  .footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  @media screen and (max-width: 560px) and (min-width:0px) {
    iframe{
      width: 100%;
    }
    .myimg{
      width: 95%;
    }
  }